<div id="collection">
	{% paginate collection.products by settings.pagination_limit %}
	<!-- Begin collection info -->
	<!-- Content-->
	<div class="col-md-9 col-sm-12 col-xs-12">
		<div class="row">
			<div class="main-content">
				{%include 'breadcrumb'%}
				{% comment %}nhom san pham{% endcomment %}
				<div class="col-md-12">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<h1>
								{%if collection.handle == 'all'%}Tất cả sản phẩm{%else%}{{collection.title}}{%endif%}
							</h1>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

              {% if settings.collection_sort and collection.products_count > 0 %}
              <div class="browse-tags">
                <span>Sắp xếp theo:</span>
                <span  class="custom-dropdown custom-dropdown--white">
                  <select class="sort-by custom-dropdown__select custom-dropdown__select--white">
                    <option value="manual">Sản phẩm nổi bật</option>
                    <option value="price-ascending">Giá: Tăng dần</option>
                    <option value="price-descending">Giá: Giảm dần</option>
                    <option value="title-ascending">Tên: A-Z</option>
                    <option value="title-descending">Tên: Z-A</option>
                    <option value="created-ascending">Cũ nhất</option>
                    <option value="created-descending">Mới nhất</option>
                    <option value="best-selling">Bán chạy nhất</option>
                  </select>
                </span>
              </div>
              {% endif %}
            </div>
					</div>
				</div>
				<div class="col-md-12 product-list">
					<div class="row content-product-list">
						{%if collection.products.size == 0%}
						<div class="col-md-12">
							<p>Chưa có sản phẩm nào trong danh mục này</p>
						</div>
						{%else%}
						{% for product in collection.products limit: settings.pagination_limit  %}
						{% include 'product-loop' with collection.handle %}
						{% endfor %}	
						{%endif%}
					</div>
				</div>
				<div class="col-md-12 ">
					{%include 'pagination-default'%}
				</div>
			</div>
		</div>
	</div>

	<!-- End collection info -->
	<!-- Begin no products -->
	{% if collection.products.size == 0 %}
	<div class="row">
		<div class="col-md-12 expanded-message">
			<p>Không tìm thấy sản phẩm!</p>
		</div>
	</div>
	{% endif %}
	{% endpaginate %}
	<!-- End no products -->
</div>
<script>
Haravan.queryParams = {};
if (location.search.length) {
	for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
		aKeyValue = aCouples[i].split('=');
		if (aKeyValue.length > 1) {
			Haravan.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
		}
	}
}
var collFilters = jQuery('.coll-filter');
collFilters.change(function() {
	var newTags = [];
	var newURL = '';
	delete Haravan.queryParams.page;
	collFilters.each(function() { 
		if (jQuery(this).val()) {
			newTags.push(jQuery(this).val());
		}
	});
	{% if collection.handle %}
	newURL = '/collections/' + '{{ collection.handle }}';
	 if (newTags.length) {
		 newURL += '/' + newTags.join('+');
	 }
	 var search = jQuery.param(Haravan.queryParams);
	 if (search.length) {
		 newURL += '?' + search;
	 }
	 location.href = newURL;    
	 {% else %}
	 if (newTags.length) {
		 Haravan.queryParams.constraint = newTags.join('+');        
	 }
		else {
			delete Haravan.queryParams.constraint;
		}
		location.search = jQuery.param(Haravan.queryParams);
		{% endif %}      
		});
		jQuery('.sort-by')
		.val('{{ collection.sort_by | default: collection.default_sort_by  }}')
		.bind('change', function() {
			Haravan.queryParams.sort_by = jQuery(this).val();
			location.search = jQuery.param(Haravan.queryParams);
		});
		</script>